*.vs/
*.db
*.exe
*.ilk
*.pdb
*.user
.vs/StoneAge/v16/.suo
.vs/StoneAge/v16/Browse.VC.db
*.db
Debug/StoneAge.exe
*.exe
Debug/StoneAge.ilk
*.ilk
Debug/StoneAge.pdb
*.pdb
*.obj
*.log
*.tlog
*.recipe
*.txt
*.idb
